<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add store</title>
</head>
<body>
<form action="store-add-new" method="post">
    <div>
        <label for="store_name">Название</label><input type="text" name="store_name" id="store_name">
    </div>
    <div>
        <label for="address">Адрес</label><input type="text" name="address" id="address">
    </div>
    <div>
        <label for="phone">Телефон</label><input type="text" name="phone" id="phone">
    </div>
    <div>
        <label for="email">Email</label><input type="text" name="email" id="email">
    </div>
    <div>
        <label for="link">Ссылка</label><input type="text" name="link" id="link">
    </div>
    <div>
        <label for="category">Категория</label><input type="text" name="category" id="category">
    </div>
    <div>
        <label for="description">Описание</label><textarea maxlength="255" name="description"
                                                           id="description"></textarea>
    </div>
    <input type="submit" value="Создать">
</form>

</body>
</html>